section.cost
	.container
		.caption
			h2.caption__title(data-aos="fade-down" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500") Стоимость профессионального газона GrowKit <sup>TP<sup>
			p.caption__text(data-aos="fade-up" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500") *При оптовом заказе от 50 штук стоимость обсуждается индивидуально с заказчиком, подробности уточняйте по телефону: 8 (800)505-27-36
		.inner
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-left
					.item-caption
						h2.item__title Газон GrowKit «Коттеджный»
					img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item-price
						span.item-price__text Цена
						span.item-price__num 2 900
					.text-container
						p Применяется для создания низкорастущего одновидового газона на черноземных и суглинистых типах почв. Монокультура клевера белого низкорастущего обладает самыми лучшими качествами для придомового использования, такими как насыщение почвы азотом, очень редкая необходимость кошения, мягкость зеленого ковра, самозатягивание при вытаптывании и вытеснение всех видов сорных трав.
				.item-right
					.item__subtitle Состав
					ul.item-list
						li Гидропосевная смесь  –  850 грамм
						li Древесная мульча W-Pro – 6 кг
						li Травосмесь «Коттеджная»  – 2 кг
						li Инструкция – 1 шт
					p.item__text <span>Вес</span> 9 кг
					p.item__text <span>Габариты</span> 47×32×27
					h3.item__subtitle2 Травосмесь «Коттеджная»
					img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item__subtitle Состав
					ul.item-list
						li Райграс однолетний – 20%
						li Овсяница красная – 30% 
						li Овсяница луговая – 30% Тимофеевка луговая – 10 % 
						li Мятлик луговой – 10%
				a.item__link(href="#") Заказать в 1 клик
				form.item-form(action="#")
					.item-form-item
						button.item-form__btn Добавить в корзину
					.item-form-item
						.counter
							button.counter__btn.minus -
							input.counter__field(type="text" value="1")
							button.counter__btn.plus +
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-left
					.item-caption
						h2.item__title Газон GrowKit «Коттеджный»
					img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item-price
						span.item-price__text Цена
						span.item-price__num 2 900
					.text-container
						p Применяется для создания низкорастущего одновидового газона на черноземных и суглинистых типах почв. Монокультура клевера белого низкорастущего обладает самыми лучшими качествами для придомового использования, такими как насыщение почвы азотом, очень редкая необходимость кошения, мягкость зеленого ковра, самозатягивание при вытаптывании и вытеснение всех видов сорных трав.
				.item-right
					.item__subtitle Состав
					ul.item-list
						li Гидропосевная смесь  –  850 грамм
						li Древесная мульча W-Pro – 6 кг
						li Травосмесь «Коттеджная»  – 2 кг
						li Инструкция – 1 шт
					p.item__text <span>Вес</span> 9 кг
					p.item__text <span>Габариты</span> 47×32×27
					h3.item__subtitle2 Травосмесь «Коттеджная»
					img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item__subtitle Состав
					ul.item-list
						li Райграс однолетний – 20%
						li Овсяница красная – 30% 
						li Овсяница луговая – 30% Тимофеевка луговая – 10 % 
						li Мятлик луговой – 10%
				a.item__link(href="#") Заказать в 1 клик
				form.item-form(action="#")
					.item-form-item
						button.item-form__btn Добавить в корзину
					.item-form-item
						.counter
							button.counter__btn.minus -
							input.counter__field(type="text" value="1")
							button.counter__btn.plus +
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-left
					.item-caption
						h2.item__title Газон GrowKit «Коттеджный»
					img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item-price
						span.item-price__text Цена
						span.item-price__num 2 900
					.text-container
						p Применяется для создания низкорастущего одновидового газона на черноземных и суглинистых типах почв. Монокультура клевера белого низкорастущего обладает самыми лучшими качествами для придомового использования, такими как насыщение почвы азотом, очень редкая необходимость кошения, мягкость зеленого ковра, самозатягивание при вытаптывании и вытеснение всех видов сорных трав.
				.item-right
					.item__subtitle Состав
					ul.item-list
						li Гидропосевная смесь  –  850 грамм
						li Древесная мульча W-Pro – 6 кг
						li Травосмесь «Коттеджная»  – 2 кг
						li Инструкция – 1 шт
					p.item__text <span>Вес</span> 9 кг
					p.item__text <span>Габариты</span> 47×32×27
					h3.item__subtitle2 Травосмесь «Коттеджная»
					img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item__subtitle Состав
					ul.item-list
						li Райграс однолетний – 20%
						li Овсяница красная – 30% 
						li Овсяница луговая – 30% Тимофеевка луговая – 10 % 
						li Мятлик луговой – 10%
				a.item__link(href="#") Заказать в 1 клик
				form.item-form(action="#")
					.item-form-item
						button.item-form__btn Добавить в корзину
					.item-form-item
						.counter
							button.counter__btn.minus -
							input.counter__field(type="text" value="1")
							button.counter__btn.plus +
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-left
					.item-caption
						h2.item__title Газон GrowKit «Коттеджный»
					img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item-price
						span.item-price__text Цена
						span.item-price__num 2 900
					.text-container
						p Применяется для создания низкорастущего одновидового газона на черноземных и суглинистых типах почв. Монокультура клевера белого низкорастущего обладает самыми лучшими качествами для придомового использования, такими как насыщение почвы азотом, очень редкая необходимость кошения, мягкость зеленого ковра, самозатягивание при вытаптывании и вытеснение всех видов сорных трав.
				.item-right
					.item__subtitle Состав
					ul.item-list
						li Гидропосевная смесь  –  850 грамм
						li Древесная мульча W-Pro – 6 кг
						li Травосмесь «Коттеджная»  – 2 кг
						li Инструкция – 1 шт
					p.item__text <span>Вес</span> 9 кг
					p.item__text <span>Габариты</span> 47×32×27
					h3.item__subtitle2 Травосмесь «Коттеджная»
					img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item__subtitle Состав
					ul.item-list
						li Райграс однолетний – 20%
						li Овсяница красная – 30% 
						li Овсяница луговая – 30% Тимофеевка луговая – 10 % 
						li Мятлик луговой – 10%
				a.item__link(href="#") Заказать в 1 клик
				form.item-form(action="#")
					.item-form-item
						button.item-form__btn Добавить в корзину
					.item-form-item
						.counter
							button.counter__btn.minus -
							input.counter__field(type="text" value="1")
							button.counter__btn.plus +

