section.cost#cost
	.container
		.caption
			h2.caption__title(data-aos="fade-down" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500") Стоимость профессионального газона GrowKit <sup>TM<sup>
			p.caption__text(data-aos="fade-up" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500") *При оптовом заказе от 50 штук стоимость обсуждается индивидуально с заказчиком, подробности уточняйте по телефону: <a href="tel:88005052736">8 (800) 505-27-36</a>
		.inner
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-left
					.item-caption
						h2.item__title Газон GrowKit «Коттеджный» <sup>TM</sup>
					a.img-wrap(href=imgUrl+"cost/img1.jpg" data-fancybox)
						img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item-price
						span.item-price__text Цена
						span.item-price__num 2 900
					.text-container
						p Применяется для создания низкорастущего одновидового газона на черноземных и суглинистых типах почв. Монокультура клевера белого низкорастущего обладает самыми лучшими качествами для придомового использования, такими как насыщение почвы азотом, очень редкая необходимость кошения, мягкость зеленого ковра, самозатягивание при вытаптывании и вытеснение всех видов сорных трав.
				.item-right
					.item__subtitle Состав
					ul.item-list
						li Гидропосевная смесь  –  850 грамм
						li Древесная мульча W-Pro – 6 кг
						li Травосмесь «Коттеджная»  – 2 кг
						li Инструкция – 1 шт
					p.item__text <span>Вес</span> 9 кг
					p.item__text <span>Габариты</span> 47×32×27
					h3.item__subtitle2 Травосмесь «Коттеджная»
					a.img-wrap(href=imgUrl+"cost/img2.jpg" data-fancybox)
						img.item__img(src=imgUrl+"cost/img2.jpg", alt="")
					.item__subtitle Состав
					ul.item-list
						li Райграс однолетний – 20%
						li Овсяница красная – 30% 
						li Овсяница луговая – 30% Тимофеевка луговая – 10 % 
						li Мятлик луговой – 10%
				a.item__link(href="#") Заказать в 1 клик
				form.item-form(action="#")
					.item-form-item
						button.item-form__btn Добавить в корзину
					.item-form-item
						.counter
							button.counter__btn.minus -
							input.counter__field(type="text" value="1")
							button.counter__btn.plus +
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-left
					.item-caption
						h2.item__title Газон GrowKit «Ирландский» <sup>TM</sup>
					a.img-wrap(href=imgUrl+"cost/img1.jpg" data-fancybox)
						img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item-price
						span.item-price__text Цена
						span.item-price__num 3 900
					.text-container
						p Применяется для создания низкорастущего одновидового газона на черноземных и суглинистых типах почв. Монокультура клевера белого низкорастущего обладает самыми лучшими качествами для придомового использования, такими как насыщение почвы азотом, очень редкая необходимость кошения, мягкость зеленого ковра, самозатягивание при вытаптывании и вытеснение всех видов сорных трав.
				.item-right
					.item__subtitle Состав
					ul.item-list
						li Гидропосевная смесь – 850 грамм
						li Древесная мульча W-Pro – 6 кг
						li Травосмесь «Ирландская»  – 2 кг
						li Инструкция – 1 шт
					p.item__text <span>Вес</span> 9 кг
					p.item__text <span>Габариты</span> 47×32×27
					h3.item__subtitle2 Травосмесь «Ирландская»
					a.img-wrap(href=imgUrl+"cost/img2.jpg" data-fancybox)
						img.item__img(src=imgUrl+"cost/img2.jpg", alt="")
					.item__subtitle Состав
					ul.item-list
						li Клевер белый низкорастущий – 100%
				a.item__link(href="#") Заказать в 1 клик
				form.item-form(action="#")
					.item-form-item
						button.item-form__btn Добавить в корзину
					.item-form-item
						.counter
							button.counter__btn.minus -
							input.counter__field(type="text" value="1")
							button.counter__btn.plus +
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-left
					.item-caption
						h2.item__title Газон GrowKit «Мавританский» <sup>TM</sup>
					a.img-wrap(href=imgUrl+"cost/img1.jpg" data-fancybox)
						img.item__img(src=imgUrl+"cost/img1.jpg", alt="")
					.item-price
						span.item-price__text Цена
						span.item-price__num 4 500
					.text-container
						p Применяется для создания декоративного лугового газона на черноземных типах почв. Многовидовой, неприхотливый в уходе состав цветов, дополняющийся основой из низкорастущих трав придаст вашей территории красочный и необычный вид.
				.item-right
					.item__subtitle Состав
					ul.item-list
						li Гидропосевная смесь  – 850 грамм
						li Древесная мульча W-Pro – 6 кг
						li Травосмесь «Мавританская»  – 2 кг
						li Инструкция – 1 шт
					p.item__text <span>Вес</span> 9 кг
					p.item__text <span>Габариты</span> 47×32×27
					h3.item__subtitle2 Травосмесь «Ирландская»
					a.img-wrap(href=imgUrl+"cost/img2.jpg" data-fancybox)
						img.item__img(src=imgUrl+"cost/img2.jpg", alt="")
					.item__subtitle Состав
					ul.item-list
						li Овсяница красная – 54%
						li Райграс пастбищный – 33%
						li Смесь цветочных культур – 5% Мятлик луговой – 5%
						li Белый клевер – 3%
				a.item__link(href="#") Заказать в 1 клик
				form.item-form(action="#")
					.item-form-item
						button.item-form__btn Добавить в корзину
					.item-form-item
						.counter
							button.counter__btn.minus -
							input.counter__field(type="text" value="1")
							button.counter__btn.plus +
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-left
					.item-caption
						h2.item__title Набор <br> «Насос и шланг»
					a.img-wrap(href=imgUrl+"cost/img3.png" data-fancybox)
						img.item__img(src=imgUrl+"cost/img3.png", alt="")
					.item-price
						span.item-price__text Цена
						span.item-price__num 7 000
				.item-right
					.item__subtitle Состав
					ul.item-list
						li Насос 1100 кВт – 1 шт
						li Шланг 25 метров – 1 шт
					.text-container
						p Насос мощностью 1100 кВт для равномерного смешивания и  распределения смеси – 1 шт
						p Несжимаемый армированный шланг  длиной 25 метров – 1 шт
				a.item__link(href="#") Заказать в 1 клик
				form.item-form(action="#")
					.item-form-item
						button.item-form__btn Добавить в корзину
					.item-form-item
						.counter
							button.counter__btn.minus -
							input.counter__field(type="text" value="1")
							button.counter__btn.plus +



