section.examples
	img.cloud(src=imgUrl+"cloud1.png", alt="")
	.container
		.caption
			h2.caption__title(data-aos="fade-down" data-aos-delay="150" data-aos-offset="0" data-aos-duration="1500") Наглядные <span>примеры использования</span> GrowKit
		.slider(data-aos="fade-up" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
			.slide
				.slide-top
					a(href=imgUrl+"examples/img1.jpg" data-fancybox).slide-block
						span.icon-search
						img.slide__img(src=imgUrl+"examples/img1.jpg", alt="")
						p.slide__text До применения
					a(href=imgUrl+"examples/img1.jpg" data-fancybox).slide-block
						span.icon-search
						img.slide__img(src=imgUrl+"examples/img1.jpg", alt="")
						p.slide__text После применения GrowKit
			.slide
				.slide-top
					a(href=imgUrl+"examples/img1.jpg" data-fancybox).slide-block
						span.icon-search
						img.slide__img(src=imgUrl+"examples/img1.jpg", alt="")
						p.slide__text До применения
					a(href=imgUrl+"examples/img1.jpg" data-fancybox).slide-block
						span.icon-search
						img.slide__img(src=imgUrl+"examples/img1.jpg", alt="")
						p.slide__text После применения GrowKit

